body {
    padding: 0;
    margin: 0;
    background-color: black;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}

.infomsg {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#infoscore {
    display: flex;
    justify-content: center;
    margin: .5rem 0 0 0;
}

#equality {
    padding: 1rem 1.5rem;
    background: white;
    border-radius: 100vw;
}

#userpercent {
    background: white;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    padding: 2rem;
}

#computerpercent {
    background: white;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    padding: 2rem;
}


#userscore {
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    background: white;
    padding: 2rem;
}

#refresh {
    position: absolute;
    top: 100%;
    cursor: pointer;
    font-size: 2rem;
    color: red;
    padding: .5rem 1rem;
    background: transparent;
    border: .1rem solid red;
    border-radius: 100vw;
}

.containeresult {
    display: flex;
    justify-content: center;
}

.containeresultt {
    display: flex;
    justify-content: center;
}

#win {
    position: fixed;
    font-size: 3rem;
    color: green;
}

#loose {
    position: fixed;
    font-size: 3rem;
    color: red;
}

#computerscore {
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    background: white;
    padding: 2rem;
}


.container {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: white;
    font-size: 5rem;
}

a {
    color: white;
}

a:hover {
    color: yellow !important;
    animation: popup 3s infinite;
}

a:focus {
    color: yellow !important;  
}

@keyframes popup {
    0%
    {
        transform: scale(1.5);
    } 
    50%
    {
        transform: scale(2);
    }
    100%
    {
        transform: scale(1.5);
    }
}

#checkbtn {
    cursor: pointer;
    top: 70%;
    font-size: 2rem;
    color: white;
    padding: .5rem 1rem;
    background: transparent;
    border: .1rem solid white;
    position: absolute;
    border-radius: 100vw;
}

#checkbtn:hover {
    border: .1rem solid yellow;
    color: yellow;
    transform: scale(1.2)
}